# Apriori - Association Rule

In [62]:
from apyori import apriori
import pandas as pd
import numpy as np

In [63]:
trx_item = [['Water','Chips','Bread','Milk'],
           ['Water','','Bread','Milk'],
           ['','','Bread','Milk'],
           ['','Chips','',''],
           ['Water','Chips','Bread','Milk'],
           ['Water','Chips','','Milk']]
df = pd.DataFrame(trx_item)
df

       0      1      2     3
0  Water  Chips  Bread  Milk
1  Water         Bread  Milk
2                Bread  Milk
3         Chips
4  Water  Chips  Bread  Milk
5  Water  Chips         Milk

In [64]:
df = df.replace('', np.nan, regex=True)

In [65]:
df

       0      1      2     3
0  Water  Chips  Bread  Milk
1  Water    NaN  Bread  Milk
2    NaN    NaN  Bread  Milk
3    NaN  Chips    NaN   NaN
4  Water  Chips  Bread  Milk
5  Water  Chips    NaN  Milk

In [66]:
df.shape

(6, 4)

In [67]:
# convert menjadi list
records = []
for i in range(0,6):
    records.append([str(df.values[i,j]) for j in range(0,4)])

In [70]:
rule = apriori(records, min_support=0.5, min_confidence=0.7)
result = list(rule)